@charset "UTF-8";
@font-face {
    font-family: 'audiowide';
    src: url(../assets/fonts/audiowide.ttf) format(opentype);
}
@font-face {
    font-family: 'spaceage' ;
    src: url(../assets/fonts/age.ttf) format(opentype);
}
:root {
    --colorpinkpadrao: #d816be;
    --colorpinkhover:  #d816be75;
    --colorblue: rgb(56, 69, 250);
    --colorgreen: rgb(70, 252, 10);
    --bgfundo: rgba(29, 7, 7, 0.767);
    --boxshadow: rgba(235, 50, 210, 0.164);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "AudioWide", cursive;
    box-sizing: border-box;
    letter-spacing: 5px;
    word-spacing: 0px;
    word-wrap: break-word; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 97vh;
    margin: 0px;
   
    font-size: 14px;
    text-align: center;
    background-image: url(../assets/imagens/indeximagens/clean.png);
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: scroll;
    overflow-y: scroll;

}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    width: 1202;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;

    color: var(--colorgreen);
}
#oNando {
    font-family: 'spaceage';
    text-shadow: 2px 2px 5px rgba(245, 240, 240, 0.979);
}
header h1  {
    font-size: 180px;
}
header h2{
    font-size: 22px;
}
.anima {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-items: flex-end;

    margin-top: 40px;
    margin-bottom: 50px;

    width: auto;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    overflow: hidden;
}
.column-4 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.column-5 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-6 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-7 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-8 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-9 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-10 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-11 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-12 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-13 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-14 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-15 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-16 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    animation-name: column;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
.column-17 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    animation-name: column;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}
@keyframes column {
    15% {height: 100%; background-color: #4e038000}
    20% {height: 100%; background-color: #50037d5d}
    25% {height: 100%; background-color: #540379a2}
    30% {height: 100%; background-color: #037147}
    35% {height: 100%; background-color: #600361}
    40% {height: 100%; background-color: #690352}
    45% {height: 100%; background-color: #036572}
    50% {height: 100%; background-color: #7B0333}
    55% {height: 100%; background-color: #840323}
    60% {height: 100%; background-color: #031995}
    65% {height: 100%; background-color: #3881e0}
    70% {height: 100%; background-color: #7B0333}
    75% {height: 100%; background-color: #03721ba1}
    80% {height: 100%; background-color: #69035142}
    85% {height: 100%; background-color: #614b0300}
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 85%;
    height: auto; 
    
    color: var(--colorblue);
    text-shadow: 1px 1px 0px rgba(143, 231, 105, 0.226);
    font-size: 2em;

    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.815);
    box-shadow: 2px 2px 2px var(--boxshadow); 
}
/* Navegação */
nav {
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
}

nav ul {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
    width: 100%;
    height: auto;
    padding: 20px;
}

nav li {
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 5px;
    width: auto;
    min-height: 50px;
    max-height: 150px;
    font-size: 45px;
}

nav a {
    text-decoration: none;
    color: var(--colorblue);
    text-shadow: 2px 2px 5px rgba(245, 240, 240, 0.199);
}
nav a:hover {
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    flex: 1;

    margin-top: 10px;
    padding-bottom: 20px;
    color: var(--colorgreen);

}

footer address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer a {
    text-decoration: none;
    color: var(--colorpinkpadrao);
}

/* Media queries */
@media (max-width: 768px) {
    header h1  {
        font-size: 50px;
    }
    header h2{
        font-size: 11px;
    }
    .anima {
        display: none;   
    }
    nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        font-size: 22px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        flex: 1;
    
        margin-top: 10px;
        color: var(--colorgreen);
        font-size: 12px;
    }
    
    footer address {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    footer a {
        text-decoration: none;
        color: var(--colorpinkpadrao);
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    header h1  {
        font-size: 120px;
    }
    header h2{
        font-size: 17px;
    }
    nav li {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100%;
        font-size: 32px;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        flex: 1;
    
        margin-top: 10px;
        padding-bottom: 20px;
        color: var(--colorgreen);
        font-size: 12px;
    }
    
    footer address {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    
    footer a {
        text-decoration: none;
        color: var(--colorpinkpadrao);
    }
}