@charset "UTF-8";
@charset "UTF-8";
/*Todas as demais mídias*/

/*Typical Device Breackpoints:
-------------------------------------------
Mobile devices – 320px — 480px (dispositivos móveis).
iPads, Tablets – 481px — 768px (tablets).
Small screens, laptops – 769px — 1024px (tela pequena).
Desktops, large screens – 1025px — 1200px (tela larga). 
Extra large screens, TV – 1201px, and more (tela grande).
att: 09/08/2023
*/

/*Impressora*/
@media print { 
    * {
        font-family: 'Courier New', Courier, monospace;
        color: black;
    }
    main {
        border: 2px solid black;
    }
    main::after {
        text-align: center;
        padding-left: 20px;
        font-size: 0.8em;
        content: 'Jesus te Ama';
        text-decoration: overline;
    }
}
/* Mobile devices max 320px (dispositivos móveis) - DIMENSIONS: GALAXY FOLD 280-663 */
@media screen and (max-width: 320px) {
    * {
        letter-spacing: 3px;
    }
    /* CABEÇALHO */
    #oNando {
        font-size: 4em;
    }
    /* MAIN */
    main {
        width: 250px;
    }
    #main_div {
        padding: 30px;
        width: 250px;
        font-size: 1em; 
        background-color: rgba(1, 10, 17, 0.137);
        border-radius: 120%;
    }
    .anima {
        display: none;
    }
    /* FOOTER */
    footer {
        font-size: .9em;
        letter-spacing: 0px;
    }
}
/* Mobile devices – 320px — 480px (dispositivos móveis) - DIMENSIONS: IPHONE 12 390-844 */
@media screen and (min-width: 320px) and (max-width: 480px) {
    * {
        letter-spacing: 3px;
    }
    /* CABEÇALHO */
    header {
        color: var(--colorgreen);
        font-size: 1em;
    }
    #oNando {
        font-size: 5em;
    }
    header div h2 {
        margin-top: 20px;
        font-size: .9em;
    }
    /* MAIN */
    main {
        width: 90vw;
        font-size: 1.3em;
    }
    #main_div {
        width: 90%;
        border-radius: 120%;
        font-size: 1em;
    }
    .anima {
        display: none;
    }
    /* FOOTER */
    footer {
        font-size: .8em;
    }
}
/* iPads, Tablets – 480px — 765px (tablets) - DIMENSIONS: SURFACE DUO 540-720*/
@media screen and (min-width: 480px) and (max-width: 765px) { 
    * {
        letter-spacing: 3px;
    }
    /* CABEÇALHO */
    #oNando {
        font-size: 7em;
    }
    /* MAIN */
    main {
        width: 100%;
        line-height: 50px;
    }
    #main_div {
        width: 70%;
        border-radius: 10%;
        font-size: 2em;
    }
    .anima {
        display: none;
    }
    /* FOOTER */
    footer {
        font-size: .8em;
        letter-spacing: 3px;
    }
} 
/* Small screens, laptops – 765px — 1024px (tela pequena) - DIMENSIONS: IPAD MINI 768-1024*/
@media screen and (min-width: 765px) and (max-width: 1024px) { 
    * {
        letter-spacing: 3px;
    }
    /* CABEÇALHO */
    #oNando {
        font-size: 11.5em;
    }
    /* MAIN */
    #main_div {
        width: 70%;
        border-radius: 20%;
        font-size: 2em;
    }
    /* FOOTER */
    footer {
        font-size: 1em;
    }
}
/* Desktops, large screens – 1024px — 1200px (tela larga) - DIMENSIONS: IPAD AIR 1180-820 */
@media screen and (min-width: 1024px) and (max-width: 1200px) { 
    * {
        letter-spacing: 3px;
    }
    /* CABEÇALHO */ 
    #oNando {
        font-size: 15em;
    }
    /* MAIN */
    main {
        width: 100%;
        font-size: 1.5em;
    }
    #main_div {
        width: 70%;
        background-color: rgba(1, 10, 17, 0.137);
        border-radius: 15%;
        font-size: 1.5em;
    }
    /* FOOTER */
    footer {
        font-size: 1em;
        letter-spacing: 2px;
    }
}
/* Extra large screens, TV – 1201px, and more (tela grande) - DIMENSIONS: NEST HUB MAX 1280-800 */
@media screen and (min-width: 1200px)  { 
    * {
        letter-spacing: 5px;
    }
    /* CABEÇALHO */ 
    #oNando {
        font-size: 16em;
    }
    /* MAIN */
    main {
        width: 100%;
        font-size: 1.5em;
    }
    #main_div {
        width: 70%;
        background-color: rgba(1, 10, 17, 0.137);
        border-radius: 15%;
        font-size: 1.5em;
    }
    /* FOOTER */
    footer {
        font-size: 1em;
    }
}